<!doctype html>
<html>
    <head>    
        
        <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
        <link rel="stylesheet" href="{{ 'assets/css/markdown-images.css' | relative_url }}" />

        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        <link rel="manifest" href="/manifest.json" />

        
        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
        <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
            OneSignal.init({
            appId: "16a2b68d-9a87-4599-9c12-6367d726f2f0",
            notifyButton: {
                enable: true,
            },
            });
        });
        </script>
        
    </head>
    <body class="{% if page.layout == site.landing_template %}landing {% endif %}">
        
        {{ content }}
        <!-- Scripts -->
        <script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/jquery.dropotron.min.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/jquery.scrollex.min.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/browser.min.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/breakpoints.min.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/util.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/init.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/page_load.js' | relative_url }}"></script>

     <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5d41f54ce5ae967ef80dc785/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    </body> 
</html>
